.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 110px;
    max-height: 400px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px;

}

.productImg {
    cursor: pointer;
    min-height: 3vw;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

/* product Info */
.productInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.productDesc {
    cursor: pointer;
    font-weight: 450;
    font-size: 1.05rem;
    margin-bottom: 5px;
    width: 100%;
}

/* Rating Section */
.productRatingBox {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 3px;
}

/* Price and cart section */
.productPriceCart {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start
}

.productCurrency {
    font-weight: 350;
    margin-top: 4px;
}

.productPrice {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 450;
    margin-right: 10px;
    margin-left: 2px;
}

.productCart {
    margin-top: 13px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5em 1.1em;
    border-radius: 15px;
    width: 100%;
    background-color: #fbd821;
}

.productCart:active {
    background-color: #e2c21f;
    border: none;
}